@charset "UTF-8";
@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf');
}

body{
    background-color: #65e284;
    font-family: Android;
}

p{
    text-indent: 35px;
}

h4{
    margin: -8px;
    background-color: #65e284;
    padding: 10px;
    border: solid, transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

header{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-image: linear-gradient(to top, #246b36, #00EA4F);
    margin: -10px;
    padding-top: 40px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 12px;
}

header > p, h1{
    text-align: center;
}

header > nav > a{
    margin: 10px;
}

header > nav > a:hover{
    text-decoration: underline;
}

nav > a{
    display: inline;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: left;
    margin: 0px;
}

main{
    background-color: white;
    margin-top: 10px;
    margin-right: 500px;
    margin-left: 500px;
    margin-bottom: 1px;
    padding-top: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#imagens{
    margin-left: 50px;
    margin-right: 50px;
}

#principal{
    color: #246b36;
    font-size: 35px;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 1px;
}

#conteudo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 35px;
}

#destaque{
    color: #246b36;
    font-weight: bold;
}

#subtitulo{
    color: #246b36;
    background-image: linear-gradient(to right, #08c0454d, #00ea4e13);
    font-size: 25px;
    margin-right: 30px;
    margin-left: 30px;
    padding: 5px;
}

#text1{
    text-decoration: none;
    color: #246b36;
    font-weight: bold;
}

#text1:hover{
    text-decoration: underline;
}

#android{
    margin-left: 250px;
    margin-right: 250px;
}

#video{
    background-color: #246b36;
    padding: 30px 20px;

}

#final{
    background-color: #00ea4e52;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 20px;
    border: solid, transparent;
    border-radius: 10px;
}

#coluna{
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 20px;
    margin-top: -20px;
}

#coluna2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 20px;
    margin-top: -208px;
    margin-left: 400px;
}

#fim{
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 40px;
}

footer{
    background-color: #246b36;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 50px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: white;
}

#criador{
    margin: 0px;
    padding: 0px;
}

#eu{
    font-weight: bold;
}