@charset "UTF-8";

*{ /*Uma configuração global*/
    font-family: Arial, Helvetica, serif; /*É a fonte principal que será usada em todo o site.*/
}

body{
    background-image: linear-gradient(90deg, #0FC2C0, #056e6e); /*É a cor de fundo do corpo do site.*/
}

main{
    background-color: white; /*É a cor de fundo que se sobresai do body, porém, por causa da declaração padding, consegue molda-lo da forma que desejar*/
    border-radius: 10px; /*O quão as bordas do padding serão arredondadas*/
    box-shadow: 5px 5px 15px #023535; /*É o sobreamendo sobre a caixa, que no caso é o padding*/
    width: 600px; /*É o comprimento que a caixa do padding terá*/
    padding: 10px; /*É a distância entre a margem, e as extremidades do padding*/
    margin: auto; /*É a margem que o texto abrange, ou seja, mesmo que o tamanho da tela mude, o margin seguirá a mudança*/
}

h1{
    color: #000000; /*Cor do texto*/
    text-align: center; /*O alinhamento do texto*/
    text-shadow: 1px 1px 2px #3b3f3f; /*A sombra no texto*/
}

h2{
    color: #023535;
}

p{
    text-align: justify;
}