@charset "UTF-8";

/*Em HTML é id     = em CSS é #
  Em HTML é class  = em CSS é .
*/

body{
    background-color: rgb(85, 197, 160);
    font-family: 'Times New Roman', Times, serif;
}

h1{
    color: rgb(219, 230, 226);

}

h1#principal{
    text-align: center;
    color: blueviolet;
    background-color: white;
}

h2{
    color: rgb(7, 73, 24);
}