@charset "UTF-8";

div{
    display: inline-block;
    background-color: rgb(21, 156, 122);
    border: 1px solid black;
    text-align: center;
    height: 200px;
    width: 200px;
}

div:hover{
    background-color: rgb(0, 136, 255);
}