@charset "UTF-8";

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: dimgray;
    margin: 0px;
}

header{
    background-color: white;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

nav{
    background-color: lightgray;
    padding: 3px;
}

nav > a{ /* esse > significa que os links/ancôras dentro de nav serão da forma descrita abaixo */
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 100px;
}

nav > a:hover{
    text-decoration: underline;
}

main{
    background-color: white;
    padding: 10px;
    margin: 10px;
}

article{
    background-color: lightgray;
    padding: 5px;
}

article > aside{
    background-color: rgb(119, 118, 118);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    margin: 0px;
}