@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); /*fonte externa*/

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf');
    font-weight: normal;
}

:root{ /* É literal, a raiz dos códigos globais de CSS */
    --cor1: #ffffff;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;

    --fonte-padrao: 'Times New Roman', serif;
    --fonte-destaque: 'Bebas Neue';
    --fonte-android: 'Android';
}

*{ /* Seleção global de todos os elementos no arquivo */
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor2);
    font-family: var(--fonte-padrao);
}

header{
    background-color: var(--cor5);
    font-family: var(--fonte-padrao);
}

header > p, h1{
    font-family: var(--fonte-destaque);
    color: white;
}