@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); /*fonte externa*/

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf');
    font-weight: normal;
}

:root{ /* É literal, a raiz dos códigos globais de CSS */
    --cor1: #b6ffd7; /* Uma váriavel em CSS sempre começa com -- */
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;

    --cor7: #ffffff;
    --cor8: #000000;

    --fonte-padrao: 'Times New Roman', serif;
    --fonte-destaque: 'Bebas Neue';
    --fonte-android: 'Android';
}

*{ /* Seleção global de todos os elementos no arquivo */
    margin: 0px;
    padding: 0px;

    min-width: 320px;
}

body{
    background-color: var(--cor1);
    font-family: var(--fonte-android);
}

body a.externo::after{
    content: '\00A0\1F517'; /* Esse :: é um pseudo elemento, utilizado para indicar itens que vão aparecer, mas não são necessariamente do conteúdo em si */
}

header{
    background-image: linear-gradient( to bottom, var(--cor3), var(--cor5));
    font-family: var(--fonte-padrao);
    text-align: center;
    padding-top: 30px;

    width: 100%;
    min-width: 280px;
    max-width: 100%;
}

header > h1{
    font-family: var(--fonte-destaque);
    color: white;
    margin-bottom: 10px;
    font-size: 3em;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.527);
}

header > p{
    color: var(--cor7);
    font-family: var(--fonte-padrao);
    padding-bottom: 15px;
    font-size: 18px;
}

nav{
    background-color: var(--cor5);
    padding-bottom: 12px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.363);
}

nav > a{
    text-decoration: none;
    color: var(--cor7);
    margin-left: 5px;
    padding: 6px 5px;
    font-weight: bold;
    transition: 1s;
}

nav > a:hover{
    background-color: var(--cor3);
    border-radius: 10px;
    transition-duration: 0.5s;
}

main{
    background-color: var(--cor7);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.623);

    width: 85%;
    min-width: 280px;
    max-width: 800px; /* Aqui começa a responsividade, o width precisa estar em porcentagem para que o navegador compreenda as medidas minimas, ou seja, que abrange telas de celulares. */
}

main p{ /* Quando não coloca-se o > significa que é qualquer p dentro de main, e etc. */
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 20px;
    font-size: 1em;
    font-family: var(--fonte-padrao);
}

main strong{
    font-weight: bold;
    color: var(--cor5);
}

main a{
    text-decoration: none;
    color: var(--cor6);
    font-weight: bold;
    background-color: var(--cor1);
    padding: 2px 5px;
    transition: 1s;
}

main a:hover{
    text-decoration: underline;
    border-radius: 5px;
    background-color: var(--cor6);
    color: var(--cor7);
    transition-duration: 0.5s;
}

main h1{
    color: var(--cor6);
}

main h2{
    color: var(--cor5);
    background-image: linear-gradient(to right, var(--cor2), transparent);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

main div.video{
    background-color: var(--cor6);
    padding: 20px;
    padding-bottom: 56.7%; /* Aqui tem que trabalhar com % */
    margin: 0px -20px;

    position: relative;
}

main div.video > iframe{ /* Aqui também, trabalha-se apenas na % */
    position: absolute;

    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

img{
    display: block; /* Uma imagem por sí só não é um bloco, por isso precisa transforma-la */
    margin: auto;
    width: 100%;
}

.android{
    display: block; /* Uma imagem por sí só não é um bloco, por isso precisa transforma-la */
    margin: auto;
    max-width: 350px;
}

aside{
    display: block;
    margin: 15px;
    background-color: var(--cor1);
    border-radius: 15px;
    padding: 15px;
    font-family: var(--fonte-padrao);
    margin: auto;
    margin-top: 15px;
}

aside h3{
    background-color: var(--cor5);
    color: var(--cor7);
    margin: -15px -15px 0px -15px ;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

aside ul{
    columns: 2;

    /*
    list-style-type: '\2714\00A0\00A0'; <!-- Não funciona em todo navegador -->
    list-style-position: inside;  <!-- A posição dos marcadores, por padrão são para fora --> 
    
    Optei por fazer da forma que está disposta no HTML5; apesar de ser um falha/problema em caso de trocas grandes dos simbolos. Acredito que dessa forma vá funcionar em todos os navegadores.
    */ 
}

footer{
    font-family: var(--fonte-padrao);
    margin-top: 40px;
    background-color: var(--cor5);
    text-align: center;
    color: var(--cor7);
    padding: 5px;
}

footer a{
    text-decoration: none;
    color: white;
    transition: 1s;
}

footer a:hover{
    background: var(--cor2);
    color: var(--cor6);
    padding: 2px;
    border-radius: 5px;
    transition-duration: 0.6s;
    margin-left: 5px;
    margin-right: 5px;
}