@charset "UTF-8";

body{
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

h1{ /* box-level */
    /*com a propriedade display pode-se transformar um block em inline e vice-versa*/

    background-color: lightgray;
    height: 300px; /* altura*/
    width: 300px; /* largura*/
    border-width: 10px; /* largura da borda*/
    border-style: solid; /* literal, o estilo da borda*/
    border-color: aqua; /* cor da borda*/

    padding-top: 30px; /* distancia entre conteudo, e sua respectiva borda*/
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 10px;

    margin: auto;

    outline: 5px;
    outline-style: dashed;
    outline-color: chocolate;
}

a{ /* inline-level*/
    /*com a propriedade display pode-se transformar um inline em block e vice-versa*/
    
    border-width: 10px;
    border-style: groove;
    border-color: brown;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

p{
    border-width: 10px;
    border-style: double;
    border-color: brown;

    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 30px;
    padding-left: 10px;

    margin-top: 100px;
    margin-right: 10px;
    margin-bottom: 35px;
    margin-left: 10px;

    text-align: center;
}