@charset "UTF-8";

/* SELETORES PERSONALIZADOS
    #   = id
    .   = class
    :   = pseudo-class
    ::  = pseudo-element
    >   = children
*/

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-style: italic;
}

a{
    color: red;
    text-decoration: none;
    font-weight: bold;
}

a:visited{
    color: darkred;
}

a:hover{
    color: black;
    text-decoration: underline;
}

a:active{
    color: aqua;
}

a.especial::after{
    content: "   link";
    text-decoration: none;
    font-weight: normal;
    color: rgba(169, 169, 169, 0.637);
}

a.especial{
    background-color: rgba(255, 0, 0, 0.274);
}