@charset "UTF-8";

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: dimgray;
    margin: 0px;
}

header{
    background-color: white;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

nav{
    background-color: lightgray;
    padding: 3px;
    box-shadow: 2px -10px 10px black; /* aqui está como fazer uma sombra de caixa*/
}

nav > a{ /* esse > significa que os links/ancôras dentro de nav serão da forma descrita abaixo */
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 100px;
}

nav > a:hover{
    text-decoration: underline;
}

main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: 10px; /* shorthand*/
    border-radius: 10px 20px 40px 80px; /* Aqui está a configuração das bordas da caixa*/
}

article{
    background-color: lightgray;
    padding: 5px;
}

article > aside{
    background-color: rgb(119, 118, 118);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;
}

footer > p{
    margin: 0px;
}

#bola{
    height: 100px;
    width: 100px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    border-radius: 50%;
}